---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AboutMe from '../components/AboutMe.astro';
import Works from '../components/Works.astro';
import History from '../components/History.astro';
---
<Layout title="Harukimedes's Portfolio">
	<Header>
	</Header>
	<main>
		<AboutMe></AboutMe>
		<History></History>
		<Works></Works>
	</main>
	<Footer>
	</Footer>
</Layout>
