---
import Icon from "./Icon.astro";
---

<div class="hero mx-auto w-full py-10 min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <div
      class="tooltip rounded-full w-25 h-25"
      data-theme="lofi"
      data-tip="Hi! Welcome to My Portfolio!"
    >
      <img
        src="/icon.gif"
        class="max-w-sm rounded-full w-25 h-25 ring ring-primary ring-offset-base-100 ring-offset-2"
        alt="my icon"
      />
    </div>
    <div class="tooltip rounded-full" data-theme="lofi" data-tip="My Github">
      <a href="https://github.com/sasaharukimedes">
        <Icon class="w-20" icon="ri:github-fill" />
      </a>
    </div>
    <div class="m-5">
      <h1 id="AboutMe" class="text-3xl lg:text-5xl font-bold">
        I'm Harukimedes!
      </h1>
      <p class="py-6">
        僕のポートフォリオへようこそ！
        <br />
        僕はハルキメデスと言います。
        <br />
        1995年に北海道は函館で生まれた、現在28歳です。
        <br />
        高校までは水泳とハンドボールをずっとやっていました。
        <br />
        大学では、ゼミに2つ入り「国際政治経済」と「テクノロジーと社会システム」について勉強していました。
        <br />
        趣味は、ゲーム、映画、漫画、筋トレ、スポーツ、読書、カラオケなどです。
        <br />
        僕は好奇心が旺盛で、何かしらハマっている対象があります。 プログラミング活動自体は学生時に少し触っていましたが、チュートリアルを終えた後に特に作りたいものもなく何もしていませんでした。
        しかし、ふと作ってみたいものがひらめいてしまったので再度勉強し直しながら、作ってみた次第です。
        <br />
        現在は、At coderで緑ランクまで行けるように頑張ってコンテストに参加したり、勉強しているところです。
        <br />
        もっと自分の作ってみたいものを作ったり、あるいは表現したいものを表現できるように、
        <br />
        そして人としてもプログラマとしても、スキルアップできるよう転職活動をしてみようと思い、このポートフォリオの作成を始めました。
      </p>
    </div>
  </div>
</div>
