<div class="hero py-10 min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <img src="/public/icon.gif" class="max-w-sm rounded-full shadow-2xl ring ring-primary ring-offset-base-100 ring-offset-2" />
    <div>
      <h1 class="text-5xl font-bold">I'm Harukimedes!</h1>
      <p class="py-6">
        僕のポートフォリオへようこそ！
              <br />
              僕はハルキメデスと言います。
              <br />
              1995年に北海道は函館で生まれた、現在28歳です。
              <br />
              高校までは水泳とハンドボールをずっとやっていました。
              <br />
              大学では、ゼミに2つ入り「国際政治経済」と「テクノロジーと社会システム」について勉強していました。
              <br />
              趣味は、ゲーム、映画、漫画、筋トレ、スポーツ、読書、カラオケなどです。
              <br />
              僕は好奇心が旺盛で、何かしらハマっている対象があります。
              プログラミング活動自体は学生時に少し触っていましたが、チュートリアルを終えた後に特に作りたいものもなく何もしていませんでした。
              しかし、ふと作ってみたいものがひらめいてしまったので再度勉強し直しながら、作ってみた次第です。
              <br />
              そして、もっと自分の作ってみたいものを作ったり、あるいは表現したいものを表現できるように、
              <br />
              人としてもプログラマとしても、スキルアップできるよう転職活動をしてみようと思い、このポートフォリオの作成を始めました。
      </p>
  </div>
</div>