---
import Icon from "./Icon.astro";
const props = Astro.props;

const birthDay = new Date(1995, 6, 9);

const currentDate = new Date();

let age = currentDate.getFullYear() - birthDay.getFullYear();
const m = currentDate.getMonth() - birthDay.getMonth();
if (m < 0 || (m === 0 && currentDate.getDate() < birthDay.getDate())) {
  age--;
}
---

<div class="hero mx-auto p-5 min-h-screen">
  <div class="hero-content flex-col lg:flex-row justify-center items-center">
    <div
      class="tooltip rounded-full w-25 h-25"
      data-tip="Welcome to My Page!"
    >
      <img
        src="/icon.gif"
        class="max-w-sm rounded-full w-25 h-25 ring ring-primary ring-offset-base-100 ring-offset-2"
        alt="my icon"
      />
    </div>
    <div class="tooltip rounded-full" data-tip="My Github Account">
      <a href="https://github.com/sasaharukimedes">
        <Icon class="w-20" icon="ri:github-fill" />
      </a>
    </div>
    <div class="m-5">
      <h1 id="AboutMe" class="text-3xl lg:text-5xl font-bold font-homemade">
        I'm Harukimedes!
      </h1>
      <p class="py-4 font-kiwimaru">
        僕の名前は<span class="kurenaido-underline">ハルキメデス</span>だよ。
        <br />
        <span class="kurenaido-underline">北海道</span>生まれの、<span class="kurenaido-underline">{age}歳</span>だよ。
        <br />
        人生のテーマは、<span class="kurenaido-underline">自分も周りも幸せに生きること</span>で、
        <br />
        <span class="kurenaido-underline">好奇心のままに何事もチャレンジ</span>を大切にしているよ。
        <br />
        ほぼ独学でプログラミングをしてきたけど、今は
        <span class="kurenaido-underline">ジュニアエンジニア</span>としてお仕事を頑張っているよ。
        <br />
        基本的には<span class="kurenaido-underline">Ruby on Rails</span>を使いつつ、これからは<span class="kurenaido-underline">Typescript</span>なんかもできるように頑張るよ。
        <br />
        最終的には<span class="kurenaido-underline">海外でソフトウェアエンジニアとして働きたい</span>のと
        <span class="kurenaido-underline">もっと自分の作りたいものを作って、たくさんの人に使ってもらうこと</span>
        を目指しているよ。
      </p>
    </div>
  </div>
</div>
