<h1 class="flex justify-center m-5 text-3xl lg:text-5xl font-bold">Certifications</h1>

<ul class='flex flex-col items-center mx-auto py-3 gap-4 max-w-2xl'>
  <li class="list-disc list-inside text-center w-full max-w-xs">英検2級</li>
  <li class="list-disc list-inside text-center w-full max-w-xs">TOEIC 750</li>
  <li class="list-disc list-inside text-center w-full max-w-xs">TOEFL IBT 61</li>
  <li class="list-disc list-inside text-center w-full max-w-xs">Ruby Silver ver.3</li>
</ul>
