<h1 id="History" class="flex justify-center m-5 text-3xl lg:text-5xl font-bold">Certifications</h1>

<ul class='flex flex-col list-disc items-center mx-auto py-3 gap-4 max-w-2xl'>
  <li class="list-inside">英検2級</li>
  <li class="list-inside">TOEIC 750</li>
  <li class="list-inside">TOEFL IBT 61</li>
  <li class="list-inside">Ruby Silver ver.3</li>
</ul>