<h1 id="Contact" class="flex justify-center m-5 text-3xl lg:text-5xl font-bold">Contact</h1>


<div class="flex justify-center m-5 font-semibold">
  <form
  action="https://formspree.io/f/xgejdznp"
  method="POST"
>
    <div class="form-control m-3">
      <label class="label">
        <span class="label-text">メールアドレス</span>
      </label>
      <label class="input-group">
        <span>Email</span>
        <input type="email" name="email" placeholder="info@site.com" class="input input-bordered w-full max-w-xs" />
      </label>
    </div>
    <div class="form-control m-3">
      <label class="label">
        <span class="label-text">お問い合わせ内容</span>
      </label>
      <label class="input-group">
        <span>Message</span>
        <textarea name="message" placeholder="ここに書いてね！" class="textarea textarea-bordered" />
      </label>
    </div>
    <div class="form-control m-3">
      <button class="btn btn-active" type="submit">Send</button>
    </div>

  <!-- <label>
    Your email:
    <input type="email" name="email">
  </label>
  <label>
    Your message:
    <textarea name="message"></textarea>
  </label> -->
  <!-- your other form fields go here -->
  <!-- <button type="submit">Send</button> -->

  </form>
</div>
