<div class="navbar bg-base-100 m-3 font-kiwimaru">
  <div class="navbar-start lg:hidden">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="#AboutMe">About Me</a></li>
        <li><a href="#History">History</a></li>
        <li><a href="#Works">Works</a></li>
        <li><a href="#Contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center flex mx-auto">
    <p class="font-semibold text-xl lg:text-2xl m-1">Harukimedes's Profile Page</p>
  </div>
  <div class="navbar-end flex mx-auto">
    <ul class="menu menu-horizontal px-1 hidden lg:flex">
      <li><a href="#AboutMe">About Me</a></li>
      <li><a href="#History">History</a></li>
      <li><a href="#Works">Works</a></li>
      <li><a href="#Contact">Contact</a></li>
    </ul>
  </div>
</div>
