<div class="navbar bg-base-100 p-5">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">Harukimedes's Portfolio</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>About Me</a></li>
      <li><a>History & Skills</a></li>
      <li><a>Works</a></li>
      <li><a>Contacts</a></li>
    </ul>
  </div>
</div>