<div class="navbar bg-base-100 p-2 sticky top-0 z-10">
  <div class="flex-1">
    <a href="#index" class="btn btn-ghost normal-case text-xl">Harukimedes's Portfolio</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="#AboutMe">About Me</a></li>
      <li><a href="#History">History & Skills</a></li>
      <li><a href="#Works">Works</a></li>
      <li><a href="#Contact">Contact</a></li>
    </ul>
  </div>
</div>