<h1 id="History" class="flex justify-center m-5 text-3xl lg:text-5xl font-bold">History & Skills</h1>
<h1 class="flex justify-center m-5 text-lg lg:text-2xl font-semibold">~Still Learning~</h1>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>1995.7<br />~2014.4</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm '>北海道、函館市にて誕生。4人兄弟で仲良く過ごす。（今もずっと）</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        習い事をしたり<br />
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2022.2<br />~2022.10</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm '>freee株式会社で働き始めました。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        申告周りの機能追加、修正を担当。<br />
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2022.2<br />~2022.10</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm '>freee株式会社で働き始めました。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        申告周りの機能追加、修正を担当。<br />
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2022.2<br />~2022.10</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm '>freee株式会社で働き始めました。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        申告周りの機能追加、修正を担当。<br />
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2018.9<br />~2022.1</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm'>ANYCOLOR株式会社（旧いちから株式会社）で働き始めました。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        WEBフロント、サーバーサイド、社内システム、LP監修など色々担当。<br />
        開発経験ほぼ0からの状態でいろいろなプロダクトを担当させていただき、多くのスキルを身につけることができました。
      </blockquote>
    </div>
    <div class='flex gap-3 md:flex-row flex-col py-5'>
      <div class='card w-40 bg-base-100 shadow-lg'>
        <div class='card-body'>
          <h2 class='card-title text-lg'>Programming Languages</h2>
          <ul class='list-disc text-sm'>
            <li>Ruby</li>
            <li>Javascript</li>
            <li>Typescript</li>
          </ul>
        </div>
      </div>
      <div class='card w-40 bg-base-100 shadow-lg'>
        <div class='card-body'>
          <h2 class='card-title text-lg'>Library & Frameworks</h2>
          <ul class='list-disc text-sm'>
            <li>Ruby on Rails</li>
            <li>React</li>
            <li>Next.js</li>
            <li>TailwindCSS</li>
            <li>ChakraUI</li>
            <li>daisyUI</li>
            <li>Deno</li>
            <li>Fresh</li>
            <li>Astro</li>
          </ul>
        </div>
      </div>
      <div class='card w-40 bg-base-100 shadow-lg'>
        <div class='card-body'>
          <h2 class='card-title text-lg'>Others</h2>
          <ul class='list-disc text-sm'>
            <li>HTML</li>
            <li>CSS</li>
            <li>Github</li>
            <li>Render</li>
            <li>Linux</li>
            <li>Vercel</li>
            <li>Cloudflare</li>
            <li>microCMS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>