<h1 id="History" class="flex justify-center m-5 text-3xl lg:text-5xl font-bold">History & Skills</h1>
<h1 class="flex justify-center m-5 text-lg lg:text-2xl font-semibold">~Still Learning~</h1>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>1995.7<br />~2014.3</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm '>北海道、函館市にて誕生。6人家族で、高校卒業まで地元で過ごす。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        水泳とハンドボールを約10年やる。<br/>
        友だちと遊んだり、塾に通ったりして過ごしていたが、<br />
        田舎の退屈な生活に飽き飽きして、東京に憧れる。
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2014.4<br />~2015.3</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm '>東京で1年間浪人生活をする。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        大学受験に失敗して1年間浪人生活をする。<br />
        慣れない土地で、他の友だちが大学生活を謳歌してる中、<br/>
        どうにかメンタルを保ち、自分を鼓舞して乗り切る。<br/>
        勉強の面白さにも気づき、勉強の習慣を身につける。
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2015.4<br />~2019.3</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm '>明治大学国際日本学部 に進学する。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        現役生時代に目指していた学部に進学する。<br />
        沢山の友人と、素晴らしい先生たちに恵まれる。<br/>
        大学外でも様々な出会いを経験し、充実した生活をする。
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2019.6<br />~2020.12</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm '>フリーターをする。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        なんとなく就活して、入った会社に違和感を感じて研修を終えてやめる。<br />
        コロナ禍もあり、地元に帰ってアルバイトで塾の先生をしたりして過ごす。<br/>
        自分の将来に思い悩んだりする中で、手に職をつけるための勉強をしようと思ってプログラミングに再度触れる。
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2021.1<br />~現在まで</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm'>某建材会社に就職する。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        実家が自営業（建築関係）をしている関係で、東京の関係がある会社で働くことになる。<br/>
        このままじゃ実家に戻る羽目になると思い、もう一度自分は何がしたいのか考えるようになる。<br/>
        その中で、作ってみたいものもできたので、働きながら時間を作ってアプリの制作・プログラミングの勉強に取り組む。
      </blockquote>
    </div>
  </div>
</div>
<div class='flex flex-row items-baseline mx-auto py-3 gap-4 max-w-2xl'>
  <div class='md:text-lg text-sm font-bold'>2023.12<br />~今後</div>
  <div class='flex flex-col gap-2'>
    <div class='text-sm'>IT業界に転職する。</div>
    <div class='text-xs flex flex-col gap-1 prose'>
      <blockquote>
        アプリ、ブログ、ポートフォリオを作成し、これを機に転職しようと考える。<br/>
        これから、更に技術と知識を身につけたらもっとできることが増えるし、<br/>
        周りの人のためになるものも作れるかもしれない。<br/>
        今後も、個人での開発・勉強に取り組み更に良いプログラムを書けるようになる。
      </blockquote>
    </div>
    <div class='flex gap-3 justify-center items-center md:items-baseline md:flex-row flex-col py-5'>
      <div class='card w-40 bg-base-100 shadow-lg'>
        <div class='card-body'>
          <h2 class='card-title text-lg'>Programming Languages</h2>
          <ul class='list-disc text-sm'>
            <li>Ruby</li>
            <li>Javascript</li>
            <li>Typescript</li>
          </ul>
        </div>
      </div>
      <div class='card w-40 bg-base-100 shadow-lg'>
        <div class='card-body'>
          <h2 class='card-title text-lg'>Library & Frameworks</h2>
          <ul class='list-disc text-sm'>
            <li>Ruby on Rails</li>
            <li>React</li>
            <li>Next.js</li>
            <li>TailwindCSS</li>
            <li>ChakraUI</li>
            <li>daisyUI</li>
            <li>Deno</li>
            <li>Fresh</li>
            <li>Astro</li>
          </ul>
        </div>
      </div>
      <div class='card w-40 bg-base-100 shadow-lg'>
        <div class='card-body'>
          <h2 class='card-title text-lg'>Others</h2>
          <ul class='list-disc text-sm'>
            <li>HTML</li>
            <li>CSS</li>
            <li>Github</li>
            <li>Render</li>
            <li>Linux</li>
            <li>Vercel</li>
            <li>Cloudflare</li>
            <li>microCMS</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>