<h1 id="Works" class="flex justify-center m-5 text-3xl lg:text-5xl font-bold">Works</h1>
<div class="flex flex-col lg:flex-row mx-auto items-center justify-center">
  <div class="card card-compact w-96 bg-base-100 shadow-xl py-5 m-5">
    <figure class="px-10 pt-10"><img src="/kotonoha.webp" alt="kotonoha" class="w-30 h-30" /></figure>
    <div class="card-body">
      <h2 class="card-title">コトノハ </h2>
      <h2 class="card-title">(現在はVer.4 制作中につきデプロイ休止中)</h2>
      <p class="p-2">
        “人の目を気にしなくていい自由なSNS” をコンセプトに作成しました。
        <br />
        Rails x TailwindCSS
        等を使用し作成しています。デプロイはRender.comで行っています。
        <br />
        良ければユーザー登録して遊んでみてください！
        <br />
        現在、Rails7 x daisyUI x Hotwireを使っての構成に切り替えて開発中です!
        <br />
        注:
        Render.comのフリープランのため最初の接続に時間がかかります。ご了承ください。
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">
          <a href="https://kotonoha3.onrender.com">Click Me!</a>
        </button>
      </div>
    </div>
  </div>
  <div class="card card-compact w-96 bg-base-100 shadow-xl p-5 m-5">
    <figure class="px-10 pt-10"><img src="/blog.webp" alt="Blog created by Fresh" class="w-30 h-30" /></figure>
    <div class="card-body">
      <h2 class="card-title">My Updating (b)logs</h2>
      <p class="p-2">
        簡単ですが、自作のブログを作ってみました！（といってもコンセプトは学生時代のままですが。。。）
        <br />
        Deno という環境と fresh というフレームワークで作成しています。
        <br /> デプロイもDeno Deploy を用いています。
        <br />
        microCMS作成した記事を取ってくるようにしています。
        <br />
        こちらもAstro x Cloud Pagesで作り替えています。<br/>
        →完了しました！下に貼っておきます！
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">
          <a href="https://my-updating-logs.deno.dev/">旧ブログ</a>
        </button>
        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">
          <a href="https://my-updating-blogs.pages.dev/">新ブログ</a>
        </button>
      </div>
    </div>
  </div>
  <div class="card card-compact w-96 bg-base-100 shadow-xl py-5 m-5">
    <figure class="px-10 pt-10"><img src="/portfolio.webp" alt="Portfolio created by Next.js & ChakraUI" class="w-30 h-30" /></figure>
    <div class="card-body">
      <h2 class="card-title">My Portfolio (旧)</h2>
      <p class="p-2">
        自分のプログラミング活動まとめ用にこのポートフォリオを作成しました。
        <br />
        Typescript x Next.js x ChakraUI を使って作成しています。
        <br />
        デプロイは、Vercel で行っています。
        <br />
        Next.js x ChakraUI等触ってみたかったので、作ってみましたがイマイチ開発体験が良くなかったのでAstro x daisyUIでの作り直しをしました。
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">
          <a href="https://portfolio-sasaharukimedes.vercel.app/">Click Me!</a>
        </button>
      </div>
    </div>
  </div>
  <div class="card card-compact w-96 bg-base-100 shadow-xl py-5 m-5">
    <figure class="px-10 pt-10"><img src="/icon.gif" alt="Portfolio created by Astro & daisyUI" class="w-30 h-30" /></figure>
    <div class="card-body">
      <h2 class="card-title">This Portfolio</h2>
      <p class="p-2">
        改めて、自分のプログラミング活動まとめ用にこのポートフォリオを作成しました。
        <br />
        Astro x TailwindCSS (daisyUI) を使って作成しています。
        <br />
        デプロイは、Vercel で行っています。
        <br />
        他の方の記事で読んだところ、Next.js よりも簡単そうで、ChakraUIよりも自由度が高そう (TailwindCSSの方が慣れている) のもあり、
        作り直してみました。
        <br/>
        実際、こちらの方が開発はしやすい実感がありました。SSGに関しては、これからもAstroを使っていこうかなと思っています。(Svelteも気になってます。。。)
      </p>
    </div>
  </div>
</div>
